@page
@model RazorApp.Pages.Student.Create

<form method="post">
    <div class="form-group">
        <label for="exampleInputFirst1">First name</label>
        <input asp-for="createStudentDto.FirstName" type="text" class="form-control" id="exampleInputFirst1" placeholder="First name">
        <span asp-validation-for="createStudentDto.FirstName"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputLast1">Last name</label>
        <input asp-for="createStudentDto.LastName" type="text" class="form-control" id="exampleInputLast1" placeholder="Last name">
        <span asp-validation-for="createStudentDto.LastName"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputBirthdate1">Birthdate</label>
        <input asp-for="createStudentDto.BirthDate" type="date" class="form-control" id="exampleInputBirthdate1" placeholder="Birthdate">
        <span asp-validation-for="createStudentDto.BirthDate"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div style="text-align: center">
    @foreach(var message in Model.Messages)
    {
        <p>@message</p>
    }
</div>